@import '../../style/mixins';
@import '../../style/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $header-background-color;
  display: flex;
  justify-content: center;
  z-index: 99;

  &__navbar {
    width: 128rem;
    margin: 0 5rem;
    display: flex;
    justify-content: flex-end;

    &__item {
      display: flex;
      align-items: center;
      padding: 1.1rem 2rem;
      color: $color-white-primary;
      font-size: 2rem;
      cursor: pointer;
      transition: background-color 0.2s;
      text-transform: uppercase;

      &:hover {
        background-color: rgba($color-white-primary, 0.3);
      }
    }
  }
}
