$color-black-primary: #333;
$color-white-primary: #eee;

$title-font-size: 5rem;
$subtitle-font-size: 3rem;
$block-title-font-size: 4rem;

$block-vertical-padding-top: 4rem;
$block-vertical-padding-bottom: 5rem;
$block-max-width: 94rem;

$portfolios-gap: 1.5rem;

$header-background-color: rgba(0, 0, 0, 0.7);

$footer-vertical-padding: 2rem;
$footer-background-color: #060606;
$footer-font-color: #eee;
