@import '../../../style/variables';

.block {
  display: flex;
  padding: $block-vertical-padding-top calc((100vw - #{$block-max-width}) / 2) $block-vertical-padding-bottom;
  flex-direction: column;
  align-items: center;

  &--dark {
    background-color: $color-black-primary;
    color: $color-white-primary;
  }

  &--light {
    background-color: $color-white-primary;
    color: $color-black-primary;
  }

  &__title {
    margin-bottom: 1.5rem;
    font-size: $block-title-font-size;
    text-transform: uppercase;
  }
}
