@import '../../../style/mixins';

.about {
  display: flex;
  align-items: center;

  @include respond(s) {
    flex-direction: column;
  }

  &__photo {
    margin-right: 5rem;
    width: 25rem;
    border-radius: 50%;

    @include respond(s) {
      margin-bottom: 2rem;
    }
  }

  &__text {
    &__title {
      margin-bottom: 0.8rem;
      font-size: 3rem;
      font-weight: 700;
    }

    &__content {
      font-size: 1.7rem;
    }
  }
}
